{% extends 'base.html.twig' %}

 {% block body %}

     <h1>Memo Crawler</h1>

     <ul>
         <li>/crawler/album/ID_BDGEST : import un album dans la collection</li>
         <li>/crawler/album/wishlist/ID_BDGEST : import un album dans la wishlist</li>
     </ul>
     <p>Note: ne pas oublier de récupérer les couvertures</p>
 {% endblock %}